<div class="mt-5 mb-5" style=" height: 600px">
    <div class="row text-center mb-5 ">
        <div class="col-12">
            <h1 class="mt-5">Our Team</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <a href="https://github.com/alexszeliga" target="_blank"><img src="images/Alex.jpeg" style="height: 200px; width: 200px"></a>
            <h2>Alex Szeliga</h2>
        </div>

        <div class="col-2">
            <a href="https://github.com/Anders-Engman" target="_blank"><img src="images/Anders.jpeg" style="height: 200px; width: 200px"></a>
            <h2>Anders Engman</h2>
        </div>

        <div class="col-2">
            <a href="https://github.com/ngl4" target="_blank"><img src="images/Cindy.jpeg" style="height: 200px; width: 200px"></a>
            <h2>Binh (Cindy) Lam</h2>
        </div>

        <div class="col-2">
            <a href="https://github.com/gkpeel" target="_blank"><img src="images/Geoff.jpeg" style="height: 200px; width: 200px"></a>
            <h2>Geoff Peel</h2>
        </div>
        <div class="col-1"></div>
    </div>
</div>