<div class="layout__items-list row">
  <div class="layout__item col-12 d-flex">
    <div class="layout__item-name typography__item-name mr-auto">
      Item Name
      <span class="typography__item-user">- Joe Smith</span>
    </div>
    <div class="layout__vote-container">
      <div class="layout__vote-content">
        <i class="far fa-arrow-alt-circle-up fa-lg"></i><i class="far fa-arrow-alt-circle-down fa-lg"></i>
      </div>
    </div>
  </div>
  <div class="layout__item col-12 d-flex">
    <div class="layout__item-name typography__item-name mr-auto">
      Item Name
      <span class="typography__item-user">- Joe Smith</span>
    </div>
    <div class="layout__vote-container">
      <div class="layout__vote-content">
        <i class="far fa-arrow-alt-circle-up fa-lg"></i><i class="far fa-arrow-alt-circle-down fa-lg"></i>
      </div>
    </div>
  </div>
</div>