<div class="layout__items-list row">
  {{#each items}}
  <div data-id="{{this.id}}" class="layout__item col-12 d-flex">
    <a href="item/{{this.id}}" class="mr-auto">
      <div class="layout__item-name typography__item-name">
        {{this.name}}
        <span class="typography__item-user">- John Smith{{this.UserId}}</span>
      </div>
    </a>
    <div class="layout__vote-container">
      <div class="layout__vote-content">
        <i class="far fa-arrow-alt-circle-up fa-lg"></i><i class="far fa-arrow-alt-circle-down fa-lg"></i>
      </div>
    </div>
  </div>
  {{/each}}
</div>