<div id="instructModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Beg's List Basic Guides</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center"><strong>You Have to Sign-Up/ Log-in First!</strong></p>

        <ol>
          <li>On Beg's List, Users can decide on which beggers to help by Taking Action:
            <ul>
              <li>Users can <strong>Vote</strong> for any Beg Items that they think are valuable or meaningful</li>
              <li>Users can <strong>Purchase</strong> the Beg Items for the Beggers through E-bay</li>
            </ul>
          </li>
          <br>
          <li>Each user has <strong>One Vote for Each Beg Item</strong></li>
          <li>The Beg Items with more <strong>Up Votes</strong> will be displayed as <strong style="color: green">Green</strong>-ish
            colors</li>
          <li>The Beg Items with more <strong>Down Votes</strong> will be displayed as <strong style="color: red">Red</strong>-ish
            colors</li>
        </ol>
      </div>
    </div>
  </div>
</div>