@import url("https://fonts.googleapis.com/css?family=Bentham|Open+Sans");
/* Layout */

.wrapper {
  display: flex;
  width: 100%;
}

.layout__main {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 375ms ease-in-out;
}

.layout__main.active {
  width: calc(100% - 250px);
}

.layout__side-bar {
  display: flex;
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 100vh;
  padding: 56px 32px;
  background: #eeeeee;
  transition: margin 375ms ease-in-out;
}

#sidebar {
  width: 100%;
}

.layout__side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__side-bar.active {
  margin-left: -250px;
}

.layout__side-bar li {
  margin-bottom: 16px;
}

#collapseToggle {
  cursor: pointer;
}

.layout__navbar {
  padding: 1.5rem 1rem;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.16);
}

.layout__navbar-nav .container {
  padding-left: 0;
  padding-right: 0;
}

.layout__navbar-nav .container .active {
  padding-left: 15px;
  padding-right: 15px;
}

.menu {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.menu span:before,
.menu span:after {
  position: absolute;
  content: "";
}

.menu span,
.menu span:before,
.menu span:after {
  width: 30px;
  height: 4px;
  background-color: #777;
  display: block;
}

.menu span:before {
  margin-top: -12px;
}

.menu span:after {
  margin-top: 12px;
}

.menu span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.menu.active span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.menu span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-delay: 300ms, 0s;
  transition-delay: 300ms, 0s;
}

.menu.active span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 300ms;
  transition-delay: 0s, 300ms;
}

.menu span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-delay: 300ms, 0s;
  transition-delay: 300ms, 0s;
}

.menu.active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 300ms;
  transition-delay: 0s, 300ms;
}

#main-list {
  margin-top: 40px;
}

.layout__main-container {
  transition: margin 375ms ease-in-out;
}

.layout__main-container.active {
  margin-right: 8px;
  margin-left: 8px;
}

.layout__item {
  background-color: #eee;
  margin-bottom: 16px;
  padding: 16px 88px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
}

.layout__item > a {
  display: flex;
  align-items: center;
}

.layout__vote-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.layout__vote-content {
  margin: 8px 24px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bentham", serif;
}

p,
a,
ul,
li,
blockquote,
cite {
  font-family: "Open Sans", sans-serif;
}

a {
  transition: opacity 375ms ease-in-out;
  color: #777;
}

a:hover {
  color: #777;
  text-decoration: none;
  opacity: 0.75;
}

.typography__navbar {
}

.typography__site-heading {
  font-size: 2.5rem;
  color: #707070;
}

.typography__item-name {
  color: #707070;
  font-size: 1.25rem;
}

.typography__item-user {
  opacity: 0.8;
  font-weight: 200;
}

.layout__vote-container i {
  font-size: 1.5rem;
}

.layout__vote-content .fa-arrow-alt-circle-up {
  margin-right: 4px;
  transition: color 375ms ease-in-out;
}

.layout__vote-content .fa-arrow-alt-circle-down {
  margin-left: 4px;
  transition: color 375ms ease-in-out;
}

.layout__vote-content a {
  color: #707070;
}

.up-vote:hover,
.up-vote.selected-up-vote {
  color: hsl(130, 87%, 45%);
}

.down-vote:hover,
.down-vote.selected-down-vote {
  color: hsl(10, 87%, 45%);
}

footer {
  margin-top: 80px;
  text-align: center;
}

/* .layout__signup-modal {
  display: none;
  position: fixed;
  width: 40%;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
  padding: 8px;
  margin-bottom: 32px;
  align-content: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.layout__login-modal {
  display: none;
  position: fixed;
  width: 40%;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
  padding: 8px;
  margin-bottom: 32px;
  align-content: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.form-item {
  display: block;
  width: 100%;
}

.layout__inline-user {
  /* display: block;
  width: 100%; */
}

.modal-obscure {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

/* ==== Single Item Template View ==== */

.itemSingle,
#userItems {
  color: #707070;
}

.itemSingle {
  margin-bottom: 56px;
}

.itemSingle__itemDetails h2 {
  font-family: "Open Sans", sans-serif;
  padding: 12px 24px;
  background-color: #eee;
  margin-bottom: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
}

.itemSingle__itemDetails p {
  padding: 24px;
  margin-bottom: 0;
}

.itemSingle__userDetails {
  margin-left: 24px;
  margin-right: 24px;
}

.itemSingle__userDetails img {
  float: left;
  max-width: 72px;
}

.itemSingle__userText {
  float: left;
  margin-left: 12px;
}

.itemSingle__userText h4 {
  margin-bottom: 4px;
}

.itemSingle__imageContainer img {
  min-width: 100%;
}

.itemSingle__buttonsContainer {
  margin-top: 24px;
}

.itemSingle__purchase button {
  display: block;
  margin: auto;
  border: none;
  border-radius: 4px;
  padding: 12px 48px;
  background-color: #16ad2d;
  font-family: "Bentham", serif;
  font-size: 20px;
  color: #fff;
}

.itemSingle__arrows {
  margin-top: 20px;
  text-align: center;
}

.itemSingle__arrows .up-vote,
.itemSingle__arrows .down-vote {
  font-size: 24px;
}

.itemSingle__arrows .up-vote {
  padding-right: 2px;
}

.itemSingle__arrows .up-down {
  padding-left: 2px;
}

/* ==== Single User Template View ==== */

.userSingle__userDetails h2 {
  display: inline-block;
  font-family: "Bentham", serif;
  padding: 12px 24px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
}

.userSingle__userDetails p {
  padding: 24px;
  margin-bottom: 0;
}

.userSingle__begScore h3,
#userItems h2 {
  font-family: "Open Sans", sans-serif;
}

.userBegScore {
  color: hsla(62, 87%, 45%, 0.8);
  font-size: 32px;
}

#userItems h2 {
  font-size: 24px;
  margin-bottom: 32px;
}

.userSingle__item {
  margin-bottom: 24px;
}

.userSingle__item img {
  border: 1px solid #707070;
  max-height: 104px;
  height: auto;
}

.userSingle__itemContainer {
  flex: 1 0 auto;
  margin-left: 24px;
}

.userSingle__votesCount {
  display: inline-block;
  margin-left: 8px;
}

/* ==== Login/Sign-Up Modal Styles ==== */

.layout__inline-user {
  color: #777;
}

.layout__signup-modal,
.layout__login-modal {
  cursor: pointer;
}

.img-item-size {
  height: auto;
  width: 100%;
}

.bg-img-search {
  background-image: url("../images/universe.jpg");
  background-size: 100% 110%;
  height: 35rem;
  color: white;
}

.commentNameTile,
.commentTextTile {
  font-family: "Open Sans", sans-serif;
  padding: 12px 24px;
  background-color: #eee;
  margin-bottom: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
}
