{{#if user}}
<li><a data-toggle="modal" data-target="#instructModal" class="mr-2">How to Start</a></li>
<li><span class="ml-2">Hello, {{user.name}}</span></li>
<li><a href="/logout" class="pl-3" style="color: #a0a0a0">Logout</a></li>

{{else}}
<li><a data-toggle="modal" data-target="#instructModal" class="mr-2">How to Start</a></li>
<li><a data-toggle="modal" data-target="#signUpModal" class="layout__signup-modal">Sign-up</a></li>
<li><a data-toggle="modal" data-target="#loginModal" class="layout__login-modal">Log-in</a></li>
{{/if}}