{{!-- TODO: create an element that shows either a welcome message to the logged in user, or a prompt to login or sign
up --}}
<div class="layout__inline-user">
    {{#if user}}
    Hello, {{user.name}}
    {{else}}
    <a href="#" class="signup-button">Sign-up</a> / <a href="#" class="login-button">Log-in</a>
    {{/if}}
</div>