{{!-- TODO: create an element that shows either a welcome message to the logged in user, or a prompt to login or sign
up --}}
<div class="layout__inline-user">
    {{#if user}}
    <a data-toggle="modal" data-target="#instructModal" class="layout__inline-user mr-2">How to Start</a> | <span class="ml-2">
        Hello, {{user.name}}</span> <a href="/logout" class="pl-3" style="color: #a0a0a0">Logout</a>

    {{else}}
    <a data-toggle="modal" data-target="#instructModal" class="layout__inline-user mr-2">How to Start</a> |
    <a data-toggle="modal" data-target="#signUpModal" class="layout__signup-modal ml-2 mr-2">Sign-up</a> | <a
        data-toggle="modal" data-target="#loginModal" class="layout__login-modal ml-2">Log-in</a>
    {{/if}}
</div>