{{!-- a modal that will prompt the user for a username and password --}}
<div class="layout__login-modal">
    {{!-- a modal that will collect basic info from the user and allow them to sign up for begslist --}}

    <form class="login-form">
        <label class="form-label" for="username">Username</label>
        <input name="username" type="text" class="form-item login-form-username">
        <label class="form-label" for="password">Password</label>
        <input name="password" type="text" class="form-item login-form-password">
        <input name="submit" type="submit" class="form-item login-form-submit">
    </form>

</div>