{{!-- a modal that will collect basic info from the user and allow them to sign up for begslist --}}

<div class="layout__signup-modal">
    <form class="signup-form">
        <label class="form-label" for="username">Username</label>
        <input name="username" type="text" class="form-item signup-form-username">
        <label class="form-label" for="password">Password</label>
        <input name="password" type="text" class="form-item signup-form-password">
        <label class="form-label" for="bio">Bio</label>
        <textarea name="bio" class="form-item signup-form-bio"></textarea>
        <label class="form-label" for="realname">Name</label>
        <input name="realname" type="text" class="form-item signup-form-name">
        <label class="form-label" for="imgurl">Img URL</label>
        <input name="imgurl" type="file" class="form-item signup-form-imgurl">
        <input name="submit" type="submit" class="form-item signup-form-submit">
    </form>

</div>